# Lesson 4: Text-to-SQL RAG Agent

In this lesson, we'll learn how to create an AI agent that can convert natural language queries into SQL and execute them against a database. This approach enables users to interact with databases using plain English instead of writing SQL queries.

We'll build a complete text-to-SQL solution that can handle complex queries across multiple tables in an e-commerce database.

## Lesson Objectives

By the end of this lesson, you will be able to:

1. Set up and populate a SQLite database from CSV data
2. Create basic text-to-SQL conversions using LLMs
3. Build database schema understanding for the AI agent
4. Implement SQL execution with safety measures
5. Use function calling to create dynamic text-to-SQL agents
6. Handle complex multi-table queries and relationships
7. Create a conversational database interface with error handling

## 1. Environment Setup

First, let's set up our environment and generate the sample data.

In [1]:
# Install required packages if needed
# !pip install faker pandas sqlite3 openai python-dotenv

In [2]:
# Import required libraries
import sqlite3
import pandas as pd
import os
import json
from dotenv import load_dotenv, find_dotenv
from openai import AzureOpenAI
from IPython.display import display, HTML, Markdown
import subprocess
import sys

# Load environment variables
load_dotenv(find_dotenv())

True

In [3]:
# Get API keys and configuration
API_KEY = os.environ.get("AZURE_OPENAI_KEY") 
API_ENDPOINT = os.environ.get("AZURE_OPENAI_ENDPOINT")
AZURE_DEPLOYMENT = os.environ.get("AZURE_OPENAI_DEPLOYMENT_NAME")
API_VERSION = os.environ.get("AZURE_OPENAI_VERSION")
MODEL = os.environ.get("AZURE_OPENAI_MODEL")

# Check if the necessary API keys are available
if not API_KEY:
    print("âš ï¸ Azure OpenAI API key not found. Please set the AZURE_OPENAI_KEY environment variable.")
else:
    print("âœ… Azure OpenAI configuration loaded successfully")

âœ… Azure OpenAI configuration loaded successfully

In [4]:
# Initialize Azure OpenAI client
client = AzureOpenAI(
    default_headers={"Ocp-Apim-Subscription-Key": API_KEY},
    api_key=API_KEY,
    azure_endpoint=API_ENDPOINT,
    azure_deployment=AZURE_DEPLOYMENT,
    api_version=API_VERSION, 
)

print(f"Using model: {MODEL}")

Using model: gpt-4o-mini

## 2. Generate Sample Data

Let's generate our sample e-commerce data using the create_dummy_data.py script.

run the `create_dummy_data.py` file

## 3. Load Data and Create SQLite Database

Now let's load our CSV files and create a SQLite database.

In [8]:
# Load CSV files
path_dataset = '../lesson_4_text_to_sql/dataset/'
customers_df = pd.read_csv(path_dataset+'customers.csv')
products_df = pd.read_csv(path_dataset+'products.csv')
orders_df = pd.read_csv(path_dataset+'orders.csv')
order_items_df = pd.read_csv(path_dataset+'order_items.csv')
reviews_df = pd.read_csv(path_dataset+'reviews.csv')

print("Data loaded successfully!")
print(f"Customers: {len(customers_df)} rows")
print(f"Products: {len(products_df)} rows")
print(f"Orders: {len(orders_df)} rows")
print(f"Order Items: {len(order_items_df)} rows")
print(f"Reviews: {len(reviews_df)} rows")

Data loaded successfully!
Customers: 1000 rows
Products: 200 rows
Orders: 2000 rows
Order Items: 5111 rows
Reviews: 1500 rows

In [9]:
# Create SQLite database
db_name = 'sample_database.sqlite'

# Remove existing database if it exists
if os.path.exists(db_name):
    os.remove(db_name)

# Create connection
conn = sqlite3.connect(db_name)

# Create tables from DataFrames
customers_df.to_sql('customers', conn, index=False, if_exists='replace')
products_df.to_sql('products', conn, index=False, if_exists='replace')
orders_df.to_sql('orders', conn, index=False, if_exists='replace')
order_items_df.to_sql('order_items', conn, index=False, if_exists='replace')
reviews_df.to_sql('reviews', conn, index=False, if_exists='replace')

conn.close()
print(f"SQLite database '{db_name}' created successfully!")

SQLite database 'sample_database.sqlite' created successfully!

In [25]:
min_date = orders_df['order_date'].min()
max_date = orders_df['order_date'].max()
print(f"Date range in orders: {min_date} to {max_date}")

Date range in orders: 2024-07-08 to 2025-07-08

In [10]:
# Let's examine our database schema
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

In [11]:
# Get table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Database Tables:")
for table in tables:
    table_name = table[0]
    print(f"\n--- {table_name.upper()} ---")
    
    # Get column info
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    
    for col in columns:
        print(f"  {col[1]} ({col[2]})")
    
    # Get row count
    cursor.execute(f"SELECT COUNT(*) FROM {table_name};")
    count = cursor.fetchone()[0]
    print(f"  Rows: {count}")

conn.close()

Database Tables:

--- CUSTOMERS ---
  customer_id (TEXT)
  first_name (TEXT)
  last_name (TEXT)
  email (TEXT)
  phone (TEXT)
  date_of_birth (TEXT)
  address (TEXT)
  city (TEXT)
  state (TEXT)
  country (TEXT)
  registration_date (TEXT)
  customer_status (TEXT)
  total_spent (REAL)
  Rows: 1000

--- PRODUCTS ---
  product_id (TEXT)
  product_name (TEXT)
  category (TEXT)
  price (REAL)
  cost (REAL)
  stock_quantity (INTEGER)
  supplier (TEXT)
  description (TEXT)
  created_date (TEXT)
  is_active (INTEGER)
  Rows: 200

--- ORDERS ---
  order_id (TEXT)
  customer_id (TEXT)
  order_date (TEXT)
  status (TEXT)
  total_amount (REAL)
  shipping_address (TEXT)
  payment_method (TEXT)
  Rows: 2000

--- ORDER_ITEMS ---
  item_id (TEXT)
  order_id (TEXT)
  product_id (TEXT)
  quantity (INTEGER)
  unit_price (REAL)
  total_price (REAL)
  Rows: 5111

--- REVIEWS ---
  review_id (TEXT)
  customer_id (TEXT)
  product_id (TEXT)
  rating (INTEGER)
  review_text (TEXT)
  review_date (TEXT)
  helpful_votes (INTEGER)
  Rows: 1500

## 4. Database Helper Functions

Let's create some helper functions to interact with our database safely.

In [12]:
def get_database_schema():
    """
    Get the complete database schema including tables, columns, and relationships
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    
    schema_info = {}
    
    # Get all tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [table[0] for table in cursor.fetchall()]
    
    for table in tables:
        # Get column information
        cursor.execute(f"PRAGMA table_info({table});")
        columns = cursor.fetchall()
        
        schema_info[table] = {
            'columns': [(col[1], col[2]) for col in columns],
            'sample_data': []
        }
        
        # Get sample data (first 3 rows)
        cursor.execute(f"SELECT * FROM {table} LIMIT 3;")
        sample_rows = cursor.fetchall()
        
        if sample_rows:
            column_names = [col[1] for col in columns]
            for row in sample_rows:
                schema_info[table]['sample_data'].append(dict(zip(column_names, row)))
    
    conn.close()
    return schema_info

def execute_sql_query(query, max_results=50):
    """
    Execute SQL query safely with result limiting
    """
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        
        # Add LIMIT if not already present and it's a SELECT query
        if query.strip().upper().startswith('SELECT') and 'LIMIT' not in query.upper():
            query += f' LIMIT {max_results}'
        
        cursor.execute(query)
        
        if query.strip().upper().startswith('SELECT'):
            results = cursor.fetchall()
            column_names = [description[0] for description in cursor.description]
            
            # Convert to list of dictionaries for better display
            formatted_results = []
            for row in results:
                formatted_results.append(dict(zip(column_names, row)))
            
            conn.close()
            return {
                'success': True,
                'results': formatted_results,
                'column_names': column_names,
                'row_count': len(formatted_results)
            }
        else:
            conn.commit()
            conn.close()
            return {
                'success': True,
                'message': 'Query executed successfully',
                'affected_rows': cursor.rowcount
            }
            
    except Exception as e:
        if 'conn' in locals():
            conn.close()
        return {
            'success': False,
            'error': str(e)
        }

In [13]:
# Test our helper functions
schema = get_database_schema()
print("Database schema loaded successfully!")
print(f"Tables: {list(schema.keys())}")

Database schema loaded successfully!
Tables: ['customers', 'products', 'orders', 'order_items', 'reviews']

## 5. Basic Text-to-SQL Conversion

Let's start with a simple text-to-SQL conversion using the LLM directly.

In [14]:
def create_schema_prompt():
    """Create a detailed schema description for the LLM"""
    schema = get_database_schema()
    
    schema_description = """
DATABASE SCHEMA:
This is an e-commerce database with the following tables and relationships:

"""
    
    for table_name, table_info in schema.items():
        schema_description += f"\n{table_name.upper()} TABLE:\n"
        schema_description += "Columns:\n"
        
        for column_name, column_type in table_info['columns']:
            schema_description += f"  - {column_name} ({column_type})\n"
        
        if table_info['sample_data']:
            schema_description += "\nSample data:\n"
            for i, sample in enumerate(table_info['sample_data'][:2]):
                schema_description += f"  Row {i+1}: {sample}\n"
        
        schema_description += "\n"
    
    schema_description += """
KEY RELATIONSHIPS:
- customers.customer_id â†’ orders.customer_id
- orders.order_id â†’ order_items.order_id  
- products.product_id â†’ order_items.product_id
- customers.customer_id â†’ reviews.customer_id
- products.product_id â†’ reviews.product_id

IMPORTANT NOTES:
- Use proper JOIN statements when querying multiple tables
- Always include LIMIT clause for large result sets
- Use aggregate functions (COUNT, SUM, AVG) for analytical queries
- Handle date filtering properly (dates are stored as text in YYYY-MM-DD format)
"""
    
    return schema_description

In [15]:
# Test schema prompt
schema_prompt = create_schema_prompt()
print("Schema prompt created!")
print("First 500 characters:")
print(schema_prompt[:500] + "...")

Schema prompt created!
First 500 characters:

DATABASE SCHEMA:
This is an e-commerce database with the following tables and relationships:


CUSTOMERS TABLE:
Columns:
  - customer_id (TEXT)
  - first_name (TEXT)
  - last_name (TEXT)
  - email (TEXT)
  - phone (TEXT)
  - date_of_birth (TEXT)
  - address (TEXT)
  - city (TEXT)
  - state (TEXT)
  - country (TEXT)
  - registration_date (TEXT)
  - customer_status (TEXT)
  - total_spent (REAL)

Sample data:
  Row 1: {'customer_id': 'b9e13e2b-2d6a-4718-9669-f8df774113af', 'first_name': 'Danielle'...

In [16]:
def text_to_sql_basic(natural_language_query):
    """
    Convert natural language query to SQL using basic prompting
    """
    
    system_prompt = f"""You are a SQL expert. Convert natural language queries to SQL.

{create_schema_prompt()}

Rules:
1. Generate only valid SQLite SQL queries
2. Always use proper JOINs when accessing multiple tables
3. Include LIMIT 50 by default unless user specifies otherwise
4. Use appropriate WHERE clauses for filtering
5. Return only the SQL query, no explanations

Convert the following natural language query to SQL:"""

    try:
        response = client.chat.completions.create(
            model=MODEL,
            messages=[
                {"role": "system", "content": system_prompt},
                {"role": "user", "content": natural_language_query}
            ],
            temperature=0.1,
            max_tokens=500
        )
        
        sql_query = response.choices[0].message.content.strip()
        
        # Clean up the response (remove markdown if present)
        if sql_query.startswith('```sql'):
            sql_query = sql_query.replace('```sql', '').replace('```', '').strip()
        elif sql_query.startswith('```'):
            sql_query = sql_query.replace('```', '').strip()
            
        return sql_query
        
    except Exception as e:
        return f"Error generating SQL: {str(e)}"

In [ ]:
# Test basic text-to-SQL
query1 = "Show me the first 10 customers"
sql1 = text_to_sql_basic(query1)
print(f"Query: {query1}")
print(f"Generated SQL: {sql1}")

Query: Show me the first 10 customers
Generated SQL: SELECT * FROM CUSTOMERS
LIMIT 10;

In [19]:
# Execute the query
result1 = execute_sql_query(sql1)
if result1['success']:
    print(f"Results ({result1['row_count']} rows):")
    for i, row in enumerate(result1['results'][:5]):
        print(f"  {i+1}: {row}")
else:
    print(f"Error: {result1['error']}")

Results (10 rows):
  1: {'customer_id': 'b9e13e2b-2d6a-4718-9669-f8df774113af', 'first_name': 'Danielle', 'last_name': 'Johnson', 'email': 'john21@example.net', 'phone': '001-581-896-0013x3890', 'date_of_birth': '1958-05-29', 'address': '65423 Garcia Light, West Melanieview, AS 06196', 'city': 'Herrerafurt', 'state': 'Colorado', 'country': 'Micronesia', 'registration_date': '2024-02-08', 'customer_status': 'Premium', 'total_spent': 565.54}
  2: {'customer_id': 'd972115a-a569-4a60-8d44-94944c94eef5', 'first_name': 'Courtney', 'last_name': 'Mcclure', 'email': 'barbara10@example.net', 'phone': '441.731.6475', 'date_of_birth': '1966-11-25', 'address': '283 Steven Groves, Lake Mark, WI 07832', 'city': 'Port Antonio', 'state': 'Massachusetts', 'country': 'Iran', 'registration_date': '2024-01-20', 'customer_status': 'Premium', 'total_spent': 1382.4}
  3: {'customer_id': '89c5f6ef-ee30-4747-a824-ee010dedf77f', 'first_name': 'Jason', 'last_name': 'Hahn', 'email': 'jason76@example.net', 'phone': '724.523.8849x696', 'date_of_birth': '2007-05-08', 'address': '01226 Paul Ranch Suite 848, Lake Jenniferside, WV 35474', 'city': 'Danielchester', 'state': 'Hawaii', 'country': 'Korea', 'registration_date': '2023-07-11', 'customer_status': 'Active', 'total_spent': 706.29}
  4: {'customer_id': '3b6fa1d4-6c37-49c0-acd9-2599aaae0217', 'first_name': 'Jennifer', 'last_name': 'Cortez', 'email': 'williamrodriguez@example.net', 'phone': '289-332-5288x0957', 'date_of_birth': '2003-01-19', 'address': '03911 Cabrera Trace Apt. 278, West Allison, PA 55962', 'city': 'New Karina', 'state': 'Vermont', 'country': 'Cook Islands', 'registration_date': '2024-12-11', 'customer_status': 'Active', 'total_spent': 3386.73}
  5: {'customer_id': '8d49d942-c286-4883-84d4-21a2a20fdff6', 'first_name': 'Raymond', 'last_name': 'Powers', 'email': 'samuel87@example.org', 'phone': '531.250.9839', 'date_of_birth': '1948-12-28', 'address': '05183 Caldwell Forest, Lake Selena, OK 76026', 'city': 'Sanchezfort', 'state': 'Nebraska', 'country': 'Comoros', 'registration_date': '2023-09-15', 'customer_status': 'Premium', 'total_spent': 443.82}

In [26]:
# Test more complex queries
test_queries = [
    "How many orders were placed last 12 months?",
    "What are the top 5 most expensive products?",
    "Show me customers from New York who have placed orders",
    "What's the average order value?",
    "Which products have the highest ratings?"
]

for i, query in enumerate(test_queries):
    print(f"\nQuery:{i+1} {'='*50}")
    print(f"Query: {query}")
    
    sql = text_to_sql_basic(query)
    print(f"SQL: {sql}")
    
    result = execute_sql_query(sql)
    if result['success']:
        print(f"âœ… Success - {result['row_count']} rows returned")
        if result['results']:
            print("Sample results:")
            for row in result['results'][:3]:
                print(f"  {row}")
    else:
        print(f"âŒ Error: {result['error']}")

Query:1 ==================================================
Query: How many orders were placed last 12 months?
SQL: SELECT COUNT(*) AS total_orders
FROM orders
WHERE order_date >= date('now', '-12 months')
LIMIT 50;
âœ… Success - 1 rows returned
Sample results:
  {'total_orders': 1994}

Query:2 ==================================================
Query: What are the top 5 most expensive products?
SQL: SELECT * FROM PRODUCTS
ORDER BY price DESC
LIMIT 5;
âœ… Success - 5 rows returned
Sample results:
  {'product_id': '164e27a6-9201-41e9-89ff-27892cfb6a2a', 'product_name': 'Horizontal zero-defect architecture', 'category': 'Beauty', 'price': 997.71, 'cost': 242.42, 'stock_quantity': 302, 'supplier': 'Green Group', 'description': 'Answer actually conference player weight particular. Key begin brother.', 'created_date': '2024-11-09', 'is_active': 0}
  {'product_id': '1349c39e-e9ae-4401-954a-cd5e7d31e1e5', 'product_name': 'Re-contextualized coherent service-desk', 'category': 'Beauty', 'price': 992.89, 'cost': 192.47, 'stock_quantity': 890, 'supplier': 'Thompson-Harris', 'description': 'Without happen cup specific keep chance.\nLocal particular father beautiful population. Write attorney develop involve official thank issue.', 'created_date': '2024-08-16', 'is_active': 0}
  {'product_id': 'f7f628a1-9bd0-4271-a5ee-5f183fed890f', 'product_name': 'Persistent reciprocal application', 'category': 'Clothing', 'price': 986.21, 'cost': 237.09, 'stock_quantity': 293, 'supplier': 'Greer, Edwards and Spencer', 'description': 'Enjoy address major morning. Civil lay enjoy.\nAbove want answer TV somebody. Time nation week trouble.', 'created_date': '2025-05-12', 'is_active': 0}

Query:3 ==================================================
Query: Show me customers from New York who have placed orders
SQL: SELECT DISTINCT c.*
FROM CUSTOMERS c
JOIN ORDERS o ON c.customer_id = o.customer_id
WHERE c.state = 'New York'
LIMIT 50;
âœ… Success - 15 rows returned
Sample results:
  {'customer_id': 'c9063072-e9a9-4e8b-9a85-a0f7bad162b1', 'first_name': 'Oscar', 'last_name': 'Ferguson', 'email': 'kyle58@example.com', 'phone': '217.653.5560x932', 'date_of_birth': '1979-05-18', 'address': '2353 Hudson Gardens Suite 854, Levyfort, NH 22551', 'city': 'Garyside', 'state': 'New York', 'country': 'Colombia', 'registration_date': '2025-05-09', 'customer_status': 'Active', 'total_spent': 3962.48}
  {'customer_id': 'abf2d8d2-5631-4dfb-a756-6879d57a96ca', 'first_name': 'Brandon', 'last_name': 'Hood', 'email': 'lisa90@example.net', 'phone': '361-365-5650x33349', 'date_of_birth': '1999-04-06', 'address': '85076 Adams Square, Chapmanmouth, MS 75258', 'city': 'Morrisville', 'state': 'New York', 'country': 'Bolivia', 'registration_date': '2024-11-25', 'customer_status': 'Active', 'total_spent': 3189.2}
  {'customer_id': '62cd8878-fb9c-4cd6-8720-4a4a92cafb9f', 'first_name': 'Heather', 'last_name': 'Mcdaniel', 'email': 'verickson@example.net', 'phone': '211-280-0537x599', 'date_of_birth': '1960-07-01', 'address': '5280 Jorge Parkway Suite 572, West Jenniferchester, FL 34632', 'city': 'West Bradleyberg', 'state': 'New York', 'country': 'Tunisia', 'registration_date': '2025-06-19', 'customer_status': 'Active', 'total_spent': 2154.64}

Query:4 ==================================================
Query: What's the average order value?
SQL: SELECT AVG(total_amount) AS average_order_value FROM orders LIMIT 50;
âœ… Success - 1 rows returned
Sample results:
  {'average_order_value': 3741.334679999999}

Query:5 ==================================================
Query: Which products have the highest ratings?
SQL: SELECT p.product_id, p.product_name, AVG(r.rating) AS average_rating
FROM products p
JOIN reviews r ON p.product_id = r.product_id
GROUP BY p.product_id, p.product_name
ORDER BY average_rating DESC
LIMIT 50;
âœ… Success - 50 rows returned
Sample results:
  {'product_id': '12061c44-5c52-432d-8e4c-a10758fdf933', 'product_name': 'Future-proofed global success', 'average_rating': 4.666666666666667}
  {'product_id': '6f6e3c16-c6c2-4ed0-94bb-02648435306c', 'product_name': 'Triple-buffered empowering product', 'average_rating': 4.5}
  {'product_id': '8d5d6cc4-78c7-48eb-995b-798cbca3f6ed', 'product_name': 'Polarized hybrid matrices', 'average_rating': 4.5}

## 6. Function Calling for Text-to-SQL

Now let's create a more sophisticated agent using function calling. This allows the AI to execute queries and provide natural language responses.

In [27]:
# Define SQL execution function for function calling
sql_execution_function = {
    "name": "execute_sql_query",
    "description": "Execute a SQL query against the e-commerce database and return results",
    "parameters": {
        "type": "object",
        "properties": {
            "sql_query": {
                "type": "string",
                "description": "The SQL query to execute. Must be valid SQLite syntax."
            },
            "explanation": {
                "type": "string", 
                "description": "Brief explanation of what the query does"
            }
        },
        "required": ["sql_query", "explanation"]
    }
}

# Define database schema function
schema_function = {
    "name": "get_database_schema",
    "description": "Get information about database tables, columns, and sample data",
    "parameters": {
        "type": "object",
        "properties": {},
        "required": []
    }
}

available_functions = [sql_execution_function, schema_function]

In [28]:
def sql_agent_with_functions(user_query, conversation_history=None):
    """
    Advanced SQL agent using function calling
    """
    if conversation_history is None:
        conversation_history = []
    
    system_prompt = f"""You are an intelligent database assistant that helps users query an e-commerce database using natural language.

{create_schema_prompt()}

Your capabilities:
1. Convert natural language to SQL queries
2. Execute SQL queries safely 
3. Interpret and explain results in natural language
4. Handle follow-up questions and maintain context

Guidelines:
- Always use proper JOINs for multi-table queries
- Include appropriate WHERE clauses for filtering
- Use LIMIT to prevent overwhelming results
- Provide clear, helpful explanations of results
- Ask for clarification if the query is ambiguous
- If a query fails, suggest corrections

Be conversational and helpful in your responses."""

    messages = [{"role": "system", "content": system_prompt}]
    
    # Add conversation history
    if conversation_history:
        messages.extend(conversation_history)
    
    # Add current user query
    messages.append({"role": "user", "content": user_query})
    
    try:
        # First LLM call to decide what to do
        response = client.chat.completions.create(
            model=MODEL,
            messages=messages,
            tools=[
                {"type": "function", "function": sql_execution_function},
                {"type": "function", "function": schema_function}
            ],
            tool_choice="auto",
            temperature=0.1
        )
        
        response_message = response.choices[0].message
        
        # Check if the model wants to call a function
        if response_message.tool_calls:
            messages.append(response_message)
            
            # Execute each function call
            for tool_call in response_message.tool_calls:
                function_name = tool_call.function.name
                function_args = json.loads(tool_call.function.arguments)
                
                print(f"ðŸ”§ Executing: {function_name}")
                if 'sql_query' in function_args:
                    print(f"ðŸ“ SQL: {function_args['sql_query']}")
                    print(f"ðŸ’­ Explanation: {function_args['explanation']}")
                
                # Call the appropriate function
                if function_name == "execute_sql_query":
                    function_result = execute_sql_query(function_args['sql_query'])
                elif function_name == "get_database_schema":
                    function_result = get_database_schema()
                else:
                    function_result = {"error": "Unknown function"}
                
                # Add function result to messages
                messages.append({
                    "tool_call_id": tool_call.id,
                    "role": "tool",
                    "name": function_name,
                    "content": json.dumps(function_result)
                })
            
            # Get final response from the model
            final_response = client.chat.completions.create(
                model=MODEL,
                messages=messages,
                temperature=0.1
            )
            
            return {
                'response': final_response.choices[0].message.content,
                'messages': messages,
                'function_calls': len(response_message.tool_calls) if response_message.tool_calls else 0
            }
        
        else:
            # No function call needed, return direct response
            return {
                'response': response_message.content,
                'messages': messages,
                'function_calls': 0
            }
            
    except Exception as e:
        return {
            'response': f"I encountered an error: {str(e)}",
            'messages': messages,
            'function_calls': 0
        }

In [29]:
# Test the SQL agent
test_query = "Show me the top 5 customers by total spending"
result = sql_agent_with_functions(test_query)

print("ðŸ¤– Agent Response:")
print(result['response'])
print(f"\nðŸ“Š Function calls made: {result['function_calls']}")

ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT first_name, last_name, total_spent FROM CUSTOMERS ORDER BY total_spent DESC LIMIT 5;
ðŸ’­ Explanation: This query retrieves the top 5 customers based on their total spending, ordered from highest to lowest.
ðŸ¤– Agent Response:
Here are the top 5 customers by total spending:

1. **Raymond Johnson** - $4,997.98
2. **Miguel Clark** - $4,997.87
3. **George Jordan** - $4,996.87
4. **Wendy Garcia** - $4,996.42
5. **Kelly Anderson** - $4,994.52

If you need more information or have any other questions, feel free to ask!

ðŸ“Š Function calls made: 1

In [31]:
# Test more complex scenarios
complex_queries = [
    "What's the most popular product category?",
    "Show me orders from the last 30 days",
    "Which customers have never left a review?",
    "What's the average rating for Electronics products?",
    "Find customers who have spent more than $1000 and show their details"
]

for i, query in enumerate(complex_queries):
    print(f"\nQuery:{i+1} {'='*60}")
    print(f"ðŸ” Query: {query}")
    print("-" * 60)
    
    result = sql_agent_with_functions(query)
    print("ðŸ¤– Response:")
    print(result['response'])
    print(f"ðŸ“Š Function calls: {result['function_calls']}")

Query:1 ============================================================
ðŸ” Query: What's the most popular product category?
------------------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT p.category, COUNT(oi.product_id) AS order_count
FROM order_items oi
JOIN products p ON oi.product_id = p.product_id
GROUP BY p.category
ORDER BY order_count DESC
LIMIT 1;
ðŸ’­ Explanation: This query counts the number of ordered items for each product category and returns the category with the highest count.
ðŸ¤– Response:
The most popular product category is **Food**, with a total of **809** orders. If you have any more questions or need further information, feel free to ask!
ðŸ“Š Function calls: 1

Query:2 ============================================================
ðŸ” Query: Show me orders from the last 30 days
------------------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT * FROM orders WHERE order_date >= DATE('now', '-30 days')
ðŸ’­ Explanation: This query retrieves all orders placed in the last 30 days by filtering the order_date column.
ðŸ¤– Response:
Here are the orders placed in the last 30 days:

1. **Order ID:** f3753003-00f3-482f-b0bb-6d8f262e001a
   - **Customer ID:** c17c0ba7-dc7e-4570-99c0-fa7e01dddfa4
   - **Order Date:** 2025-06-17
   - **Status:** Delivered
   - **Total Amount:** $5324.14
   - **Shipping Address:** 44446 Washington Path Apt. 452, Dennishaven, WV 67453
   - **Payment Method:** Bank Transfer

2. **Order ID:** 0672e874-eaaa-4f61-9dc2-8aef74bc4128
   - **Customer ID:** 69cdf5d0-efea-4a19-b3d3-1dfb24dae151
   - **Order Date:** 2025-06-18
   - **Status:** Shipped
   - **Total Amount:** $1406.60
   - **Shipping Address:** 945 Jessica Point, Kathyshire, VT 90819
   - **Payment Method:** PayPal

3. **Order ID:** 41970350-db48-492c-923f-3212d7b23195
   - **Customer ID:** 8d58a60b-9168-4d14-82ad-1228beb1adb0
   - **Order Date:** 2025-06-10
   - **Status:** Shipped
   - **Total Amount:** $6158.30
   - **Shipping Address:** 436 Laura Islands, Robertsonshire, NM 88567
   - **Payment Method:** Cash

4. **Order ID:** 98426c0b-6920-4a95-a63b-c568ec4759f7
   - **Customer ID:** 33efaead-5473-4643-9054-eb1cccc8014f
   - **Order Date:** 2025-06-09
   - **Status:** Pending
   - **Total Amount:** $5300.17
   - **Shipping Address:** 126 Morgan Ridges, West Codyton, DE 10548
   - **Payment Method:** PayPal

5. **Order ID:** 0282cc3f-e842-4b0f-bd17-e98e94cb26bc
   - **Customer ID:** 4faa5068-839e-40eb-9355-604552633e3b
   - **Order Date:** 2025-07-03
   - **Status:** Shipped
   - **Total Amount:** $9919.53
   - **Shipping Address:** 7549 Elizabeth Turnpike Apt. 980, East Jessemouth, SC 52499
   - **Payment Method:** Bank Transfer

6. **Order ID:** 4554f146-8557-4b88-a00e-69ec7dbebb40
   - **Customer ID:** 6314b5a0-6f9c-487c-af03-64211e2b052b
   - **Order Date:** 2025-07-06
   - **Status:** Cancelled
   - **Total Amount:** $3392.69
   - **Shipping Address:** 64293 Laura Skyway Suite 614, New Jessica, MP 95896
   - **Payment Method:** Cash

7. **Order ID:** 75dcc6de-1d59-4855-9c3e-c3c71bc2e46c
   - **Customer ID:** cfae7fbf-df7c-494c-8542-86f31afded63
   - **Order Date:** 2025-06-25
   - **Status:** Shipped
   - **Total Amount:** $1210.17
   - **Shipping Address:** 80603 Wright Fort, Jodiside, MD 23008
   - **Payment Method:** Bank Transfer

8. **Order ID:** bac094ed-b772-431f-b4a2-a38669d33d1c
   - **Customer ID:** b8220166-69b3-4724-bba3-9f157cafda1d
   - **Order Date:** 2025-07-02
   - **Status:** Pending
   - **Total Amount:** $941.78
   - **Shipping Address:** 00326 Brown Forks Apt. 524, North Josephburgh, AZ 96751
   - **Payment Method:** PayPal

9. **Order ID:** 38fba39e-25c4-464d-ac4c-bcdedc02d89e
   - **Customer ID:** a1bd5198-30e8-49c1-8ca9-45679661ad0e
   - **Order Date:** 2025-06-15
   - **Status:** Cancelled
   - **Total Amount:** $3383.30
   - **Shipping Address:** PSC 3489, Box 9531, APO AE 07123
   - **Payment Method:** Credit Card

10. **Order ID:** b0bc23af-cda8-49d6-bef8-94c8c664efaf
    - **Customer ID:** c7398e6a-0f22-4a9a-b31d-14ccd3f57489
    - **Order Date:** 2025-06-29
    - **Status:** Delivered
    - **Total Amount:** $8549.28
    - **Shipping Address:** 2714 Washington Manors Suite 868, Martinborough, NV 67546
    - **Payment Method:** Bank Transfer

This is just a selection of the orders from the last 30 days. If you need more details or specific information, feel free to ask!
ðŸ“Š Function calls: 1

Query:3 ============================================================
ðŸ” Query: Which customers have never left a review?
------------------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT c.customer_id, c.first_name, c.last_name
FROM CUSTOMERS c
LEFT JOIN REVIEWS r ON c.customer_id = r.customer_id
WHERE r.review_id IS NULL
LIMIT 10;
ðŸ’­ Explanation: This query selects customers who have never left a review by performing a LEFT JOIN between the CUSTOMERS and REVIEWS tables and filtering for customers with no corresponding reviews.
ðŸ¤– Response:
Here are some customers who have never left a review:

1. **Courtney Mcclure**
2. **Jason Hahn**
3. **Donna Gomez**
4. **Laura Valencia**
5. **William Frazier**
6. **Mariah Miller**
7. **Molly Pollard**
8. **Christopher Phillips**
9. **Jeffrey Brown**
10. **Dylan Garcia**

If you need more information or have any other questions, feel free to ask!
ðŸ“Š Function calls: 1

Query:4 ============================================================
ðŸ” Query: What's the average rating for Electronics products?
------------------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT AVG(rating) AS average_rating FROM reviews r JOIN products p ON r.product_id = p.product_id WHERE p.category = 'Electronics';
ðŸ’­ Explanation: This query calculates the average rating for products in the Electronics category by joining the reviews and products tables.
ðŸ¤– Response:
It seems there was an issue executing the query. Let me break it down and try again.

I'll calculate the average rating for Electronics products by joining the reviews and products tables. Hereâ€™s the SQL query I will use:

```sql
SELECT AVG(rating) AS average_rating
FROM reviews r
JOIN products p ON r.product_id = p.product_id
WHERE p.category = 'Electronics';
```

Now, let me execute this query for you.
ðŸ“Š Function calls: 1

Query:5 ============================================================
ðŸ” Query: Find customers who have spent more than $1000 and show their details
------------------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT * FROM CUSTOMERS WHERE total_spent > 1000
ðŸ’­ Explanation: This query retrieves all customer details from the CUSTOMERS table where the total amount spent by the customer is greater than $1000.
ðŸ¤– Response:
Here are the details of customers who have spent more than $1000:

1. **Courtney Mcclure**
   - Email: barbara10@example.net
   - Phone: 441.731.6475
   - Date of Birth: 1966-11-25
   - Address: 283 Steven Groves, Lake Mark, WI 07832
   - City: Port Antonio
   - State: Massachusetts
   - Country: Iran
   - Registration Date: 2024-01-20
   - Customer Status: Premium
   - Total Spent: $1382.40

2. **Jennifer Cortez**
   - Email: williamrodriguez@example.net
   - Phone: 289-332-5288x0957
   - Date of Birth: 2003-01-19
   - Address: 03911 Cabrera Trace Apt. 278, West Allison, PA 55962
   - City: New Karina
   - State: Vermont
   - Country: Cook Islands
   - Registration Date: 2024-12-11
   - Customer Status: Active
   - Total Spent: $3386.73

3. **Tricia Baker**
   - Email: smitchell@example.net
   - Phone: +1-272-734-3098
   - Date of Birth: 1948-02-14
   - Address: 81219 Emma Freeway, Wilsonshire, IA 76381
   - City: New Christophershire
   - State: Oregon
   - Country: Mali
   - Registration Date: 2024-02-25
   - Customer Status: Active
   - Total Spent: $1101.00

4. **Jose Santiago**
   - Email: john62@example.net
   - Phone: +1-647-451-0799x1183
   - Date of Birth: 2003-04-25
   - Address: 4278 Carr Valley, Lake Lisaport, TN 14078
   - City: West Darrell
   - State: Connecticut
   - Country: Samoa
   - Registration Date: 2024-08-16
   - Customer Status: Premium
   - Total Spent: $3014.07

5. **Joseph Jacobs**
   - Email: james48@example.com
   - Phone: 801-264-0052x427
   - Date of Birth: 1951-07-27
   - Address: USNS Gardner, FPO AA 76851
   - City: South David
   - State: Maryland
   - Country: Haiti
   - Registration Date: 2025-04-26
   - Customer Status: Premium
   - Total Spent: $1002.20

6. **Laura Valencia**
   - Email: jason31@example.com
   - Phone: 001-686-492-3226x02563
   - Date of Birth: 1994-02-14
   - Address: 3375 Hoover Well, East Andrew, ID 52728
   - City: Joshualand
   - State: Wyoming
   - Country: Fiji
   - Registration Date: 2024-03-21
   - Customer Status: Premium
   - Total Spent: $3509.61

7. **William Frazier**
   - Email: sheila14@example.org
   - Phone: 001-340-819-6556
   - Date of Birth: 2001-03-09
   - Address: 608 Michael Cliff, Cindyville, VA 39864
   - City: Elizabethmouth
   - State: Montana
   - Country: Qatar
   - Registration Date: 2024-02-10
   - Customer Status: Inactive
   - Total Spent: $1110.00

8. **David Fisher**
   - Email: lbyrd@example.net
   - Phone: 001-746-980-4436
   - Date of Birth: 1972-05-08
   - Address: 214 Davis Terrace Apt. 433, North Brandon, NJ 80621
   - City: South Robertshire
   - State: Illinois
   - Country: Saint Barthelemy
   - Registration Date: 2024-11-29
   - Customer Status: Premium
   - Total Spent: $1398.17

9. **Troy Sanchez**
   - Email: staffordmichelle@example.org
   - Phone: 001-763-928-7083x17278
   - Date of Birth: 1983-02-12
   - Address: 727 Green Gateway Suite 873, Scottport, IA 36115
   - City: Luisside
   - State: Colorado
   - Country: Burundi
   - Registration Date: 2023-10-27
   - Customer Status: Active
   - Total Spent: $3796.45

10. **Patrick Hernandez**
    - Email: calebrussell@example.net
    - Phone: 760.636.6909x670
    - Date of Birth: 1991-12-27
    - Address: 893 Robinson Mews Suite 065, Ramseymouth, PW 17229
    - City: South Brittanytown
    - State: Colorado
    - Country: Norway
    - Registration Date: 2024-05-17
    - Customer Status: Active
    - Total Spent: $3493.72

This is just a selection of customers who have spent over $1000. If you need more details or specific information about any customer, feel free to ask!
ðŸ“Š Function calls: 1

## 7. Conversational SQL Interface

Let's create a conversational interface that maintains context across multiple queries.

In [32]:
class ConversationalSQLAgent:
    def __init__(self):
        self.conversation_history = []
        self.session_context = {}
    
    def query(self, user_input):
        """Process a user query and maintain conversation context"""
        
        # Add user message to history
        self.conversation_history.append({"role": "user", "content": user_input})
        
        # Get response from SQL agent
        result = sql_agent_with_functions(user_input, self.conversation_history[:-1])
        
        # Add assistant response to history
        self.conversation_history.append({"role": "assistant", "content": result['response']})
        
        # Keep history manageable (last 10 messages)
        if len(self.conversation_history) > 10:
            self.conversation_history = self.conversation_history[-10:]
        
        return result
    
    def clear_history(self):
        """Clear conversation history"""
        self.conversation_history = []
        self.session_context = {}
    
    def get_history_summary(self):
        """Get a summary of the conversation"""
        return f"Conversation length: {len(self.conversation_history)} messages"

# Create conversational agent
agent = ConversationalSQLAgent()

print("ðŸŽ¯ Conversational SQL Agent Started!")
print("=" * 50)

ðŸŽ¯ Conversational SQL Agent Started!
==================================================

In [34]:
# Simulate a conversation
conversation_queries = [
    "How many customers do we have?",
    "What about active customers only?", 
    "Show me their average spending",
    "Which of these customers are from California?",
    "What products did they buy most often?"
]

for i, query in enumerate(conversation_queries, 1):
    print(f"\nðŸ”„ Turn {i}: {query}")
    print("-" * 40)
    
    result = agent.query(query)
    print("ðŸ¤– Agent:")
    print(result['response'])
    
    if i < len(conversation_queries):
        print("\nâ³ (continuing conversation...)")
        
print(f"\nðŸ“ˆ {agent.get_history_summary()}")

ðŸ”„ Turn 1: How many customers do we have?
----------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT COUNT(*) AS total_customers FROM CUSTOMERS;
ðŸ’­ Explanation: This query counts the total number of customers in the CUSTOMERS table.
ðŸ¤– Agent:
It seems there was an issue executing the query to count the total number of customers. Let me try again to get that information for you.

I'll run a simple count query now. Please hold on.

â³ (continuing conversation...)

ðŸ”„ Turn 2: What about active customers only?
----------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT COUNT(*) AS active_customer_count FROM CUSTOMERS WHERE customer_status = 'Active';
ðŸ’­ Explanation: This query counts the total number of active customers in the CUSTOMERS table.
ðŸ¤– Agent:
It seems I encountered an issue while trying to execute the query for counting active customers. However, I can provide you with the information directly.

There are **319 active customers** in the database. If you need any more details or have further questions, feel free to ask!

â³ (continuing conversation...)

ðŸ”„ Turn 3: Show me their average spending
----------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT AVG(total_spent) AS average_spending FROM CUSTOMERS WHERE customer_status = 'Active';
ðŸ’­ Explanation: This query calculates the average spending of active customers by selecting the average of the total_spent column from the CUSTOMERS table where the customer_status is 'Active'.
ðŸ¤– Agent:
It seems there was an issue executing the query for the average spending of active customers. Let me provide you with the SQL query I would use to calculate that:

```sql
SELECT AVG(total_spent) AS average_spending
FROM CUSTOMERS
WHERE customer_status = 'Active';
```

This query calculates the average spending of customers who are marked as active.

If you would like me to summarize or explain anything else, please let me know!

â³ (continuing conversation...)

ðŸ”„ Turn 4: Which of these customers are from California?
----------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT * FROM CUSTOMERS WHERE state = 'California'
ðŸ’­ Explanation: This query retrieves all customers from California.
ðŸ¤– Agent:
Here are the customers from California:

1. **Marissa Roberts**
   - Email: heather14@example.com
   - Phone: 405.238.3388x4879
   - Date of Birth: 1968-03-30
   - Address: PSC 8042, Box 0439, APO AA 07458
   - City: Penatown
   - Status: Inactive
   - Total Spent: $1,096.33

2. **Juan Tyler**
   - Email: kevin85@example.org
   - Phone: 755-769-9023
   - Date of Birth: 2002-08-15
   - Address: 27278 Ford Via Suite 084, Angelatown, IL 76181
   - City: Laurenstad
   - Status: Active
   - Total Spent: $2,024.84

3. **Jamie Crawford**
   - Email: garrett45@example.com
   - Phone: 871.583.4404
   - Date of Birth: 1983-11-13
   - Address: USS Vargas, FPO AA 09318
   - City: Simmonsstad
   - Status: Inactive
   - Total Spent: $816.29

4. **Joanne Santos**
   - Email: whitebarbara@example.com
   - Phone: 460.669.4096x00356
   - Date of Birth: 1998-06-02
   - Address: 739 Barry Stravenue Apt. 323, Huntertown, ND 79396
   - City: Port Davidstad
   - Status: Inactive
   - Total Spent: $1,989.31

5. **Amy Thomas**
   - Email: clayton86@example.net
   - Phone: (756)713-0876x1238
   - Date of Birth: 2006-04-15
   - Address: 46823 Atkinson Groves Apt. 027, North Adam, PR 67858
   - City: Burkefurt
   - Status: Active
   - Total Spent: $366.34

6. **Sarah Sullivan**
   - Email: seth86@example.org
   - Phone: 001-342-601-2234
   - Date of Birth: 1980-05-30
   - Address: 96627 Dennis Locks, West Samanthamouth, GU 07397
   - City: Russellburgh
   - Status: Inactive
   - Total Spent: $4,023.12

7. **Shannon Bright**
   - Email: jeremymitchell@example.com
   - Phone: 001-632-931-6778x1456
   - Date of Birth: 1990-10-03
   - Address: 19453 Samantha Skyway Suite 766, Morganstad, HI 86855
   - City: Wongchester
   - Status: Premium
   - Total Spent: $2,657.48

8. **Ricky Tucker**
   - Email: ramirezsteven@example.net
   - Phone: (766)282-9052x56599
   - Date of Birth: 1977-09-14
   - Address: 233 Jessica Ports Apt. 764, West Joshuafort, TX 32216
   - City: Thompsonberg
   - Status: Premium
   - Total Spent: $3,395.65

9. **Jacqueline Hawkins**
   - Email: tracy63@example.org
   - Phone: +1-801-208-9654x61253
   - Date of Birth: 1968-12-29
   - Address: 7486 Greene Wells, Hamptonshire, GU 68504
   - City: Williamhaven
   - Status: Premium
   - Total Spent: $3,262.67

10. **Darrell Morgan**
    - Email: jessicacabrera@example.com
    - Phone: 001-755-586-8190x041
    - Date of Birth: 1958-01-20
    - Address: 601 Zachary Island Apt. 029, Kristenfort, ID 68482
    - City: North Victoriatown
    - Status: Inactive
    - Total Spent: $275.75

11. **Tonya Kelley**
    - Email: ashley67@example.com
    - Phone: 001-716-562-3956x7125
    - Date of Birth: 1966-02-28
    - Address: 6749 Nicholas Crossing, Port Valerie, NM 19837
    - City: Sandersborough
    - Status: Inactive
    - Total Spent: $4,367.92

12. **Shannon Gomez**
    - Email: nlopez@example.com
    - Phone: 739.716.8670
    - Date of Birth: 1945-07-25
    - Address: 94410 Alexis Drive Suite 974, West Joshua, OR 20195
    - City: North Danielhaven
    - Status: Active
    - Total Spent: $1,437.69

13. **Brooke Ramos**
    - Email: amycunningham@example.org
    - Phone: 001-283-820-5112x134
    - Date of Birth: 2000-12-04
    - Address: 99050 Kevin Locks, Calebfort, SC 93989
    - City: Melissafort
    - Status: Premium
    - Total Spent: $657.56

14. **Alan Maynard**
    - Email: cindybrooks@example.net
    - Phone: (887)444-1235x9989
    - Date of Birth: 2003-04-14
    - Address: 263 Jordan Bypass Suite 255, West Christophershire, VI 99498
    - City: Nealstad
    - Status: Premium
    - Total Spent: $2,291.58

15. **Thomas Meyer**
    - Email: jeffery27@example.org
    - Phone: 645-880-1976x213
    - Date of Birth: 1992-08-09
    - Address: 52653 Lisa Crossroad Suite 708, North Danielhaven, UT 14675
    - City: New Jennifer
    - Status: Active
    - Total Spent: $1,083.57

If you need more information or have any other questions, feel free to ask!

â³ (continuing conversation...)

ðŸ”„ Turn 5: What products did they buy most often?
----------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT p.product_name, COUNT(oi.product_id) AS purchase_count
FROM ORDER_ITEMS oi
JOIN PRODUCTS p ON oi.product_id = p.product_id
JOIN ORDERS o ON oi.order_id = o.order_id
JOIN CUSTOMERS c ON o.customer_id = c.customer_id
WHERE c.state = 'California'
GROUP BY p.product_name
ORDER BY purchase_count DESC
LIMIT 10;
ðŸ’­ Explanation: This query retrieves the most frequently purchased products by customers from California, counting the number of purchases for each product.
ðŸ¤– Agent:
Here are the products purchased most often by customers from California:

1. **Sharable stable interface** - Purchased 2 times
2. **Proactive intermediate access** - Purchased 2 times
3. **Versatile attitude-oriented collaboration** - Purchased 1 time
4. **Total methodical portal** - Purchased 1 time
5. **Switchable executive application** - Purchased 1 time
6. **Switchable clear-thinking help-desk** - Purchased 1 time
7. **Streamlined solution-oriented system engine** - Purchased 1 time
8. **Streamlined context-sensitive workforce** - Purchased 1 time
9. **Secured multi-state emulation** - Purchased 1 time
10. **Robust even-keeled success** - Purchased 1 time

If you have any more questions or need further details, just let me know!

ðŸ“ˆ Conversation length: 10 messages

In [35]:
# Test error handling and recovery
print("\nðŸ§ª Testing Error Handling")
print("=" * 50)

error_test_queries = [
    "Show me data from table that doesn't exist",
    "What's the invalid_column in products?",
    "SELECT * FROM nowhere;",
]

for query in error_test_queries:
    print(f"\nâŒ Error Test: {query}")
    result = agent.query(query)
    print("ðŸ¤– Agent Response:")
    print(result['response'])

ðŸ§ª Testing Error Handling
==================================================

âŒ Error Test: Show me data from table that doesn't exist
ðŸ¤– Agent Response:
It seems like you're asking for data from a table that doesn't exist in the database. If you could clarify what specific information you're looking for or if you meant to refer to a different table, I'd be happy to assist you further!

Please let me know how you'd like to proceed.

âŒ Error Test: What's the invalid_column in products?
ðŸ¤– Agent Response:
It seems there was a misunderstanding. The `PRODUCTS` table does not have a column named `invalid_column`. The valid columns in the `PRODUCTS` table are:

- product_id
- product_name
- category
- price
- cost
- stock_quantity
- supplier
- description
- created_date
- is_active

If you have any specific queries or need information about a particular column, please let me know!

âŒ Error Test: SELECT * FROM nowhere;
ðŸ¤– Agent Response:
The SQL query `SELECT * FROM nowhere;` attempts to select all records from a table named "nowhere," which does not exist in the database. This will result in an error because the specified table cannot be found.

If you have a specific table in mind or need assistance with a valid query, please let me know, and I'll be happy to help!

## 8. Advanced Features and Best Practices

Let's implement some advanced features for production-ready text-to-SQL systems.

In [36]:
def validate_sql_query(sql_query):
    """
    Validate SQL query for safety and best practices
    """
    sql_upper = sql_query.upper()
    
    # Check for dangerous operations
    dangerous_keywords = ['DROP', 'DELETE', 'UPDATE', 'INSERT', 'ALTER', 'CREATE', 'TRUNCATE']
    
    issues = []
    
    for keyword in dangerous_keywords:
        if keyword in sql_upper:
            issues.append(f"Contains potentially dangerous keyword: {keyword}")
    
    # Check for SELECT statements only
    if not sql_upper.strip().startswith('SELECT'):
        issues.append("Only SELECT statements are allowed")
    
    # Check for LIMIT clause
    if 'LIMIT' not in sql_upper and 'COUNT(' not in sql_upper:
        issues.append("Query should include LIMIT clause to prevent large result sets")
    
    return {
        'is_valid': len(issues) == 0,
        'issues': issues
    }

def enhanced_text_to_sql(natural_language_query):
    """
    Enhanced text-to-SQL with validation and safety measures
    """
    
    # Generate SQL
    sql_query = text_to_sql_basic(natural_language_query)
    
    # Validate SQL
    validation = validate_sql_query(sql_query)
    
    if not validation['is_valid']:
        return {
            'sql': sql_query,
            'valid': False,
            'issues': validation['issues'],
            'results': None
        }
    
    # Execute if valid
    results = execute_sql_query(sql_query)
    
    return {
        'sql': sql_query,
        'valid': True,
        'issues': [],
        'results': results
    }

In [37]:
# Test enhanced validation
test_queries = [
    "Show me all customers",
    "Delete all customers",  # Should be rejected
    "SELECT * FROM customers",  # Should warn about LIMIT
    "UPDATE products SET price = 0"  # Should be rejected
]

for query in test_queries:
    print(f"\nðŸ” Testing: {query}")
    result = enhanced_text_to_sql(query)
    
    if result['valid']:
        print("âœ… Query is valid")
        print(f"ðŸ“ SQL: {result['sql']}")
    else:
        print("âŒ Query validation failed")
        print(f"ðŸš¨ Issues: {', '.join(result['issues'])}")

ðŸ” Testing: Show me all customers
âœ… Query is valid
ðŸ“ SQL: SELECT * FROM CUSTOMERS LIMIT 50;

ðŸ” Testing: Delete all customers
âŒ Query validation failed
ðŸš¨ Issues: Contains potentially dangerous keyword: DELETE, Only SELECT statements are allowed, Query should include LIMIT clause to prevent large result sets

ðŸ” Testing: SELECT * FROM customers
âœ… Query is valid
ðŸ“ SQL: SELECT * FROM customers LIMIT 50;

ðŸ” Testing: UPDATE products SET price = 0
âŒ Query validation failed
ðŸš¨ Issues: Contains potentially dangerous keyword: UPDATE, Only SELECT statements are allowed, Query should include LIMIT clause to prevent large result sets

In [38]:
def create_query_suggestions():
    """
    Provide example queries users can try
    """
    suggestions = [
        {
            "category": "Basic Queries",
            "queries": [
                "Show me all customers",
                "What products do we have?",
                "How many orders were placed today?",
                "Show me customer details for John Smith"
            ]
        },
        {
            "category": "Analytics",
            "queries": [
                "What's our total revenue?",
                "Which products are bestsellers?",
                "What's the average order value?",
                "Show me sales by month",
                "Which customers spend the most?"
            ]
        },
        {
            "category": "Complex Queries", 
            "queries": [
                "Show customers who have never placed an order",
                "What products have the highest ratings?",
                "Find customers from California who bought Electronics",
                "Show me orders with more than 3 items",
                "Which products are out of stock?"
            ]
        }
    ]
    
    return suggestions

# Display query suggestions
suggestions = create_query_suggestions()

print("ðŸ’¡ Query Suggestions")
print("=" * 50)

for category in suggestions:
    print(f"\nðŸ“‚ {category['category']}:")
    for i, query in enumerate(category['queries'], 1):
        print(f"  {i}. {query}")

ðŸ’¡ Query Suggestions
==================================================

ðŸ“‚ Basic Queries:
  1. Show me all customers
  2. What products do we have?
  3. How many orders were placed today?
  4. Show me customer details for John Smith

ðŸ“‚ Analytics:
  1. What's our total revenue?
  2. Which products are bestsellers?
  3. What's the average order value?
  4. Show me sales by month
  5. Which customers spend the most?

ðŸ“‚ Complex Queries:
  1. Show customers who have never placed an order
  2. What products have the highest ratings?
  3. Find customers from California who bought Electronics
  4. Show me orders with more than 3 items
  5. Which products are out of stock?

## 9. Interactive Demo

Try asking questions about the e-commerce database! The agent can handle complex queries and maintain conversation context.

In [39]:
# Interactive demo function
def demo_agent(user_query):
    """
    Demo function for testing queries
    """
    print(f"ðŸ” User Query: {user_query}")
    print("-" * 50)
    
    result = agent.query(user_query)
    
    print("ðŸ¤– Agent Response:")
    print(result['response'])
    
    if result['function_calls'] > 0:
        print(f"\nðŸ“Š Made {result['function_calls']} function call(s)")
    
    return result

In [40]:
# Example usage - try different queries!
demo_queries = [
    "What's the total number of products in each category?",
    "Show me the most recent orders",
    "Which customer has the highest total spending?"
]

for query in demo_queries:
    print("\n" + "="*60)
    demo_agent(query)

============================================================
ðŸ” User Query: What's the total number of products in each category?
--------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT category, COUNT(*) AS total_products FROM PRODUCTS GROUP BY category;
ðŸ’­ Explanation: This query counts the total number of products in each category by grouping the results based on the category.
ðŸ¤– Agent Response:
It seems there was an issue executing the query. Let me provide you with the correct SQL query to get the total number of products in each category:

```sql
SELECT category, COUNT(*) AS total_products
FROM PRODUCTS
GROUP BY category;
```

This query counts the total number of products in each category by grouping the results based on the category.

If you'd like, I can help you interpret the results once you run this query in your database. If you have any other questions or need further assistance, just let me know!

ðŸ“Š Made 1 function call(s)

============================================================
ðŸ” User Query: Show me the most recent orders
--------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT * FROM ORDERS ORDER BY order_date DESC LIMIT 10;
ðŸ’­ Explanation: This query retrieves the most recent 10 orders from the ORDERS table, sorted by order_date in descending order.
ðŸ¤– Agent Response:
Here are the most recent orders from the database:

| Order ID                                 | Customer ID                             | Order Date   | Status    | Total Amount | Shipping Address                                      | Payment Method |
|------------------------------------------|-----------------------------------------|--------------|-----------|--------------|-------------------------------------------------------|-----------------|
| eb17006c-9499-4d5d-ab21-36e4c92c2138    | 191b7b9c-ee03-4ebc-a27e-ade80d039219  | 2025-07-08   | Shipped   | 1818.75      | 5371 Brewer Grove Suite 196, Stephensmouth, NM 72649 | PayPal          |
| ff0e8b54-16a7-41d9-9648-51d9ddbaf77f    | b0ad882f-1197-4aa1-852b-80be52939a9a  | 2025-07-08   | Delivered | 757.13       | 746 Glenn Shoals Apt. 900, West Christopher, MA 15322| Credit Card     |
| bb01e1ba-52c6-4f5f-a815-85d890a988ca    | fdcad2fd-7d81-46b1-bffb-eba6665563c3  | 2025-07-08   | Shipped   | 5091.55      | 2772 Robert Station, Jenkinsview, NH 92029           | Credit Card     |
| b311740a-6980-4139-933e-85b022483e07    | 34d0d4d2-861c-4c44-8e12-1d0dcca3867a  | 2025-07-08   | Cancelled | 2995.06      | 730 Mark Fork Apt. 019, West David, PR 69557        | PayPal          |
| 71eef50d-c902-4529-8599-6416811a0584    | 24ddb37c-cd5f-4328-93b1-1ee8737eefb6  | 2025-07-08   | Cancelled | 5347.68      | USS Cochran, FPO AE 91617                             | Credit Card     |
| 65b616e2-384f-4419-91bc-3c4e6e44daa6    | d01e7afb-2c2c-4ee5-9935-0e527cdd893f  | 2025-07-08   | Pending   | 7889.89      | 76018 Jacob Knolls Suite 981, Carlsonbury, SD 48489 | PayPal          |
| 35b880d7-ac28-48c3-9ccc-bf9d4d0a36bc    | 28507771-956d-4b7e-8579-751f9848bc73  | 2025-07-07   | Pending   | 1866.72      | Unit 0597 Box 4689, DPO AP 30342                     | PayPal          |
| 82701ea7-066a-4938-90dc-db407b10d509    | 94f7ea7b-a312-48f4-8c96-ddc1c120c039  | 2025-07-07   | Shipped   | 857.10       | 8679 David Well Apt. 278, Gonzalezport, ND 58323    | Bank Transfer    |
| d526c6ec-7ac4-47e3-83b4-d6d650f0fb74    | f94330d3-7c2f-42ee-af69-cbb31712f740  | 2025-07-07   | Pending   | 6093.84      | 8531 Guzman Roads Suite 460, Beckermouth, KS 65960  | Cash            |
| 27dd298f-9de0-483d-9af3-1284021d8b43    | 2c51481e-6f1d-47cb-9f38-970004ca390e  | 2025-07-07   | Shipped   | 1915.12      | 71696 Butler Knoll Suite 392, Andrewborough, KY 64325| Bank Transfer    |

If you need more details or have any other questions, feel free to ask!

ðŸ“Š Made 1 function call(s)

============================================================
ðŸ” User Query: Which customer has the highest total spending?
--------------------------------------------------
ðŸ”§ Executing: execute_sql_query
ðŸ“ SQL: SELECT first_name, last_name, total_spent FROM CUSTOMERS ORDER BY total_spent DESC LIMIT 1;
ðŸ’­ Explanation: This query retrieves the customer with the highest total spending by ordering the customers by total_spent in descending order and limiting the result to the top one.
ðŸ¤– Agent Response:
The customer with the highest total spending is **Raymond Johnson**, with a total spending of **$4,997.98**.

If you have any more questions or need further information, feel free to ask!

ðŸ“Š Made 1 function call(s)

## 10. Summary and Next Steps

Congratulations! You've built a complete text-to-SQL RAG system. Here's what we accomplished:

### âœ… What We Built:
1. **Database Setup**: Created a realistic e-commerce database with multiple related tables
2. **Basic Text-to-SQL**: Implemented simple natural language to SQL conversion
3. **Function Calling**: Used OpenAI's function calling for dynamic query execution
4. **Conversational Interface**: Built an agent that maintains context across conversations
5. **Safety Measures**: Added query validation and error handling
6. **Enhanced Features**: Implemented best practices for production systems

### ðŸ”§ Key Components:
- **Data Generation**: Used Faker to create realistic sample data
- **Database Schema**: Designed normalized tables with proper relationships  
- **LLM Integration**: Leveraged Azure OpenAI for natural language understanding
- **Error Handling**: Implemented robust error handling and recovery
- **Security**: Added SQL injection prevention and query validation

### ðŸš€ Next Steps:
1. **Add more data sources**: Integrate with other databases or APIs
2. **Improve error handling**: Add more sophisticated query correction
3. **Add caching**: Cache frequent queries for better performance
4. **Enhance security**: Implement user authentication and access controls
5. **Add visualizations**: Create charts and graphs from query results
6. **Deploy as API**: Create a REST API for the text-to-SQL service

### ðŸ“š Additional Resources:
- SQLite Documentation: https://www.sqlite.org/docs.html
- OpenAI Function Calling: https://platform.openai.com/docs/guides/function-calling
- SQL Best Practices: Focus on performance, security, and maintainability

Try experimenting with different queries and see how the agent handles various scenarios!